@font-face {
    font-family: 'Julius';
    src: url('../fonts/JuliusSansOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    width: 86%;
    margin-left: 7%;
}
/* Barra de navegacion */
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 86%;
}

.navbar img {
    float: left;
    width: 25%;  
    margin-top: 20px;
    margin-right: 40px; 
}
  
/* Links dentro de la barra */
.navbar a {
    margin-top: 67px;
    position: relative;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 5px;
    text-decoration: none;
    font-family: 'Julius';
}

.navbar a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%; /* Start from the middle */
    width: 0;
    height: 2px;
    background-color: orange; /* Change this to your desired color */
    transition: width 0.3s ease; /* Adjust the animation speed as needed */
    transform: translateX(-50%); /* Center the animation */
}

.navbar a:hover::after {
    width: 86%;
}


/* Estilo de la barra de busqueda */

.navbar .search-container {
    float: left;
    border-width: 1px;
}

.navbar input[type=text] {
    padding: 6px;

    margin-top: 61px;
    margin-right: 16px;
    font-size: 17 px;
    background: white;
}

.navbar .search-container button {
    float: left;
    padding: 3.85px 8px;
    margin-top: 61px;
    font-size: 17px;

    cursor: pointer;
}

.navbar .search-container button:hover {
    background-color: #ccc;
}

main {
    margin-top: 100px;
}
